@model LivroListViewModel
@{
    ViewData ["Title"] = "Livros";
}

<section class="container-fluid bg-light" id="livros">
    <div class="row justify-content-center">
        @foreach (var livro in Model.Livro)
            {
                @Html.Partial("LivroResumo", livro)                      
            }
    </div>
</section>