<br />
<br />

<img src="~/images/layout/adminarea.jpg" alt="Àrea de Administração"  class="marginTop1"/>
<div class="container">
    <div class="jumbotron">
        <p>
           <h2>Esta é a área do Administrador</h2>
        </p>
    </div>
    <a href="https://localhost:5001/" asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>