@model projeto_livraria.Controllers.VendaController

<br />
<div class="container">
    <div class="jumbotron">
        <h2> @ViewBag.FormularioCompletoMensagem</h2>
        <br>
        <p>Para mais detalhes sobre pagamento e frete, por favor, entre em contato com nossos vendedores.
            <br>
     Tel: 5020-3322 <br>
     E-mail: compras@livraria207.com.br </p>
    </div>
</div>